header {
  background-color: #2b2e38;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}

.logo-container, .title-container, .user-container {
  display: flex;
  align-items: center; 
}

.logo {
  width: 50px; 
}

.titre {
  color: #ffff;
  font-weight: bold;
}

.user-container a {
  color: #ffff;
  margin-left: auto; 
}



nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li {
  display: inline-block;
}


nav li a {
  display: block;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #555;
  border-radius: 1em;
}



.logo-container a {
  display: inline-block;
  width: auto; 
}

.logo {
  width: 100%; 
  max-width: 50px;
  height: auto; 
}


@media screen and (max-width: 768px) {
  .logo-container, .title-container, .user-container {
    flex: 1 1 auto; 
    text-align: center; 
  }
}


@media screen and (max-width: 480px) {
  .logo-container, .title-container, .user-container {
    flex: 1 1 auto;
    text-align: center;
  }

  .logo {
    max-width: 30px; 
  }

  .titre {
    font-size: 16px; 
  }
}

