body {
    margin:0;
    padding:0;
    font-family: "Inter", sans-serif;
    background: linear-gradient(#5e2754, #c42e2e);
    line-height: 1.5; min-height: 100vh; display: flex;
    align-items: center;
    justify-content: center;
}


.containera {
    height: 35em;
    width: 35em;
    position: absolute;
    top: 50%;
    left: 30%;
    padding: 40px;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    background-color: transparent;
    border: none;
    color: #ffffff;
}

.containerb {
    height: 35em;
    width: 35em;
    position: absolute;
    top: 50%;
    left: 70%;
    padding: 40px;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    background-color: transparent;
    border: none;
    color: #ffffff;
}

.logochif{
    margin-top: -1em;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: transparent
}

.titrechif{
    background-color: transparent;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}